<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="UrlForm">
          <label for="URL">URL</label>
          <input type="text" class="form-control" formControlName="url" />
          <button class="btn btn-large btn-block btn-primary mt-3">
            Enviar URL
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <div
          class="dropzone"
          dropzone
          (hovered)="toggleHover($event)"
          (dropped)="onDrop($event)"
          [class.hovering]="isHovering"
        >
          <h3>Suba la imagen de un: Animal</h3>
          <p>Arrastre la imagen aquí</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center">Uploads</h2>
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <div *ngFor="let file of files">
          <upload-task [file]="file"></upload-task>
        </div>
      </div>
    </div>
  </div>
</div>
