<div
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <h3>AngularFire Drop Zone</h3>
  <p>Drag and Drop a File</p>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="UrlForm">
          <label for="URL">URL</label>
          <input type="text" class="form-control" formControlName="url" [(ngModel)]="urlAnimal" />
          <button class="btn btn-large btn-block btn-primary mt-3" (click)="sendURL()">
            Enviar URL
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Uploads</h2>

<div *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
</div>
